p {
  padding-left: 5px;
  text-align: left;
}

.friendListContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendList {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  list-style: none;
  box-shadow: 15px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background: #fff;
}

.item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.avatar {
  padding: 5px;
}

.online {
  margin: 5px;
  height: 20px;
  width: 20px;
  background-color: rgb(0, 247, 53);
  border-radius: 50%;
  display: inline-block;
}

.offline {
  margin: 5px;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}
